/* <hr> and <h3> */

h4 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

h4:hover {
    color: white;
}

.top {
    height: 8px;
    background-color: black;
    border-radius: 50%;
    margin-top: 0px;
}

.bottom {
    height: 8px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 0px;
}

.transition {
    background-color: #F1F1F1;
}

.transition:hover {
    background-color: #CACACA; 
}

/* nav bar */

#brand-logo {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
}

nav {
    background-color: #74B4BF;
}

     /* nav bar button css */

nav .btn {
    background-color: white;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    border: 2px solid black;
}

nav .btn:hover {
    background-color: black;
    color: white;
    border: 2px solid white;

}

.waves-effect.waves-teal .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(0, 0, 0, 0.95);
}


/* Home section */

#home {
    background-image: url('../images/soccer.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position:relative;
}

    /* typewriter effect */

html {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body #home p {
    background: #37393B;
    color: #fff;
    font-family: arial;
    letter-spacing: 2px;
}

.wrapper {
    position: absolute;
    top: 30%;
    width: 90%;
    left: 5%;
    margin-top: -87.5px;
    font-size: 30px;
    height: 175px;
}

.wave {
    color: #999999;
    animation: 1.2s color infinite;
}

@keyframes color {
    50% {
        color: white;
    }
}


/* About me section */

.card-stacked {
    background-color: #CACACA;
    box-shadow: 0 6px 10px 0 black;
}

.card-image {
    box-shadow: 0 6px 10px 0 black;
}

#about {
    background-attachment: fixed;
    background-image: url('../images/abstract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#about .card-action a {
    color: lightseagreen;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    text-decoration-line: overline;
}

#about .card-action a:hover {
    text-decoration: none;
}

.card-stacked p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 30px;
    text-align: justify;
    text-justify: inter-word;
}


/* skills section */

#skills {
    background-attachment: fixed;
    background-image: url('../images/abstract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#skills .container {
    text-align: center;
}

#skills .container a img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

#skills .container a img:hover {
    border-radius: 25px;
    background-color: #CACACA;
    box-shadow: 0 6px 10px 0 black;
}

/* projects section */

.card.small {
    width: 300px;
    height: 275px;
}

.card-content {
    background-color: #CACACA;
    box-shadow: 0 6px 10px 0 black;
}

#projects {
    background-attachment: fixed;
    background-image: url('../images/abstract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1440px;
    text-align: -webkit-center;
}

#projects .card-reveal {
    background-color: #CACACA;
}

#projects .card-reveal p {
    text-align: left;
    text-indent: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#projects .card-reveal span {
    text-decoration: underline;
}

/* contact section */

#contact .page-footer {
    background-attachment: fixed;
    background-image: url('../images/abstract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact .footer-copyright {
    text-align: center;
}

#contact img {
    height: 200px;
    width: 300px;
}

#contact .certificate:hover {
    box-shadow: 0 6px 10px 0 white;
}

#contact .text {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

#contact .text:hover {
    text-decoration: underline overline white;
}

#contact .text_header {
    color: white;
    text-decoration: underline;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

